.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.enter-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 530px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.enter-form .google {
  outline: none;
  border: none;
  background: #ea4335;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

.enter-form .google:hover {
  cursor: pointer;
}

/* //.........Media Query.........// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .enter-form {
    width: 300px;
    height: fit-content;
  }

  .enter-form .google {
    font-size: 1.5rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .enter-form {
    width: 300px;
    height: fit-content;
  }

  .enter-form .google {
    font-size: 1.5rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .enter-form {
    width: 300px;
    height: fit-content;
  }

  form .google {
    font-size: 1.5rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }
}
